/* Styles go here */
.center-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-padding {
  padding-top: 70px;
}

.centeredDiv {
  height: 10vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}
